apiVersion: v1
kind: Pod
metadata:
  name: busybox-tester
  namespace: tp2
spec:
  containers:
    - name: busybox
      image: busybox
      command: ["/bin/sh", "-c"]
      args:
        - "sleep 3600"